* {
   
    box-sizing: border-box;
}

main {
    font-family: 'Istok Web', sans-serif;
}


#navagation {
    padding-bottom: 50px;
    text-align: right;

}

h2 {
    margin-left: 30px;
    padding-top: 30px;
    color: lightslategray;
}


/* #center-footer {
    margin: 0 auto;
} */
.footer {
    padding: 100px;
    text-align: center; 

}