* {
    box-sizing: border-box;
    padding: 100px;
    margin: 0;
}

body {
    font-family: 'Anton', sans-serif;
font-family: 'Istok Web', sans-serif;
}
nav {
    padding-bottom: 50px;
    text-align: right;

}

h2 {
    margin-left: 100px;
    padding-top: 30px;
}

.card {
    margin-left: 100px;
    padding-top: 50px;

}

.footer {
    border: black;
    padding: 100px;
    text-align: center; 

}